@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the maximum width and height for the popup */
body {
  width: 400px;  /* Or whatever width you need */
  height: 600px; /* Or whatever height you need */
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
